body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: black;
  height: 700px;
}

.container {
  text-align: center;
  background-color: white;
  width: 600px;
  padding: 50px;
  border-radius: 10px;
}

.container h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

#dob,
#current-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dob input,
#current-date input {
  width: 350px;
  padding: 10px;
  font-size: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px auto;
}

.buttons button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #1b3c53;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.years {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.years div {
  background-color: #d7d7d7;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}
